body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    width: 100vw;
    height: 100vh;
}

.see_watch {
    padding: 20px;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 900;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.192);
    cursor: pointer;
    transition: .5s;
}

.see_watch:hover {
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.509);
}

.watch_details {
    width: 100%;
    text-align: center;
    margin: 10px;
    padding: 50px;
}

.watch_feeta {
    width: 120px;
    height: 90vh;
    background: linear-gradient(green, rgb(75, 75, 75));
    border-radius: 30px;
    position: relative;
}

.watch_body {
    width: 250px;
    height: 250px;
    background: rgb(45, 45, 45);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    display: grid;
    justify-items: center;
    align-items: center;
}

.camera {
    width: 20px;
    height: 20px;
    background: black;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.camera_lence {
    width: 1px;
    height: 1px;
    background: #fff;
    border-radius: 100%;
}

.home_btn_gol {
    width: 70%;
    height: 70%;
    background: #3a3a3a;
    border-radius: 100%;
    border: 1px solid #ffffff99;
}

.home_btn {
    width: 30px;
    height: 30px;
    background: black;
    border-radius: 2px;
    margin: 2px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.screen {
    width: 190px;
    height: 190px;
    background: rgba(0, 0, 0, 0.678);
}

.swich_on {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    background: rgb(62, 51, 51);
}

.swich_on img {
    margin-left: 40px;
}


.home_screen {
    width: 100%;
    height: 100%;
}

.status_bar {
    width: 100%;
    height: 10%;
    background: rgb(64, 82, 64);
    display: flex;
    justify-content: space-between;
}

.main_screen {
    width: 100%;
    height: 90%;
    background-position: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    position: relative;
}

.keyboard {
    width: 100%;
    height: 70px;
    background: yellow;
    z-index: 100;
    position: absolute;
    bottom: 20px;
    display: none;
}

.app {
    width: 50px;
    height: 50px;
    /* background: rgba(0, 0, 0, 0.338); */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.app_icon {
    width: 30px;
    height: 30px;
    border-radius: 5px;
    cursor: pointer;
}

.icon {
    width: 30px;
    height: 30px;
}

.app_name {
    font-size: 12px;
    color: #fff;
}

.status_bar>div {
    width: 30%;
    height: 100%;
    /* background: rgba(255, 255, 0, 0.217); */
}

.status_time {
    display: flex;
    align-items: center;
    font-size: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.status_battery {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.battery_box {
    width: 20px;
    height: 10px;
    background: black;
}

.status_battery_per {
    margin-top: -2px;
    font-size: 12px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.app_box {
    width: 190px;
    height: 100%;
    background: #fff;
    overflow: hidden;
}

.setting {
    width: 100%;
    height: 100%;
    overflow: auto;
}

.msg {
    width: 100%;
    height: 100%;
    overflow: auto;
}

.file {
    width: 100%;
    height: 100%;
    overflow: auto;
}

.call {
    width: 100%;
    height: 100%;
    overflow: auto;
}

.setting::-webkit-scrollbar {
    display: none;
}

.setting a {
    /* width: 180px; */
    display: flex;
    padding-left: 10px;
    text-decoration: none;
    color: black;
    padding: 2px;
    align-content: center;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.317);
}

.msg a {
    /* width: 180px; */
    display: flex;
    padding-left: 10px;
    text-decoration: none;
    color: black;
    padding: 2px;
    align-content: center;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.317);
    display: flex;
    justify-content: space-between;
}

.msg_indicator {
    margin-right: 10px;
}

.current_wallpaper {
    width: 100%;
    height: 20px;
    display: flex;
    justify-content: space-between;
    margin-top: 2px;
    margin-bottom: 2px;
    padding: 2px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.365);
}

.wallpaper_save_btn {
    cursor: pointer;
    border: none;
    background: rgb(165, 165, 205);
    border-radius: 5px;
    margin-right: 5px;
}

.brightness {
    width: 100%;
    height: 20px;
    display: flex;
    justify-content: space-between;
    margin-top: 2px;
    margin-bottom: 2px;
    padding: 2px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.365);
}

.brightness_btn {
    width: 100px;
    margin-right: 5px;
}

.font_size {
    width: 100%;
    height: 20px;
    display: flex;
    justify-content: space-between;
    margin-top: 2px;
    margin-bottom: 2px;
    padding: 2px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.365);
    margin-right: 5px;
}

.screen_time_out {
    width: 100%;
    height: 20px;
    display: flex;
    justify-content: space-between;
    margin-top: 2px;
    margin-bottom: 2px;
    padding: 2px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.365);
    margin-right: 5px;
}

.icon_shap {
    width: 100%;
    height: 20px;
    display: flex;
    justify-content: space-between;
    margin-top: 2px;
    margin-bottom: 2px;
    padding: 2px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.365);
    margin-right: 5px;
}

.setting_name {
    width: 100%;
    height: 20px;
    display: flex;
    justify-content: center;
    margin-top: 2px;
    margin-bottom: 2px;
    padding: 2px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.365);
    margin-right: 5px;
}

.batterylevel {
    width: 100%;
    height: 100%;
    background: #fff;
}

.charging-animation {
    animation: charge;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes charge {
    0% {
        width: 0%;
        background-color: red;
    }

    100% {
        width: 100%;
        background-color: #fff;
    }
}


.num_input {
    width: 88%;
    text-align: center;
    padding: 10px;
}

.call::-webkit-scrollbar {
    display: none;
}

.caller_keys {
    width: 100%;
    background-color: green;
    height: 131px;
}

.call_nums {
    width: 100%;
    background-color: rgb(67, 81, 67);
    height: 90px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
}

.call_num {
    background: green;
    width: 62px;
    text-align: center;
    height: 22px;
    cursor: pointer;
}

.call_action_btns {
    margin-top: 1px;
    width: 100%;
    height: 40px;
    background: grey;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    justify-items: center;
    align-items: center;
}

.call_action_btn {
    width: 90%;
    height: 80%;
    background: rgb(57, 52, 52);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.call_app_action_icon {
    width: 25px;
}

.msg::-webkit-scrollbar {
    display: none;
}

.msg_sender_num {
    width: 96%;
    padding: 4px;
}

.msg_writer_box {
    padding: 5px;
}

.write_msg_option {
    width: 100%;
    height: 20px;
    background: green;
}

.memory_status {
    width: 100%;
    height: 20px;
    background-color: green;
    text-align: center;
    font-size: 14px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.file_manager {
    width: 100%;
    height: 130px;
    /* background-color: gray; */
    overflow: auto;
}

.file_manager::-webkit-scrollbar {
    display: none;
}

.file_action {
    width: 100%;
    height: 21px;
    background-color: rgb(87, 75, 75);
    display: flex;
    justify-content: space-between;
}

.write_msg_option {
    width: 100%;
    height: 21px;
    background-color: rgb(87, 75, 75);
    display: flex;
    justify-content: space-between;
}

.folder {
    width: 100%;
    height: 25px;
    /* background: yellow; */
    border-bottom: 1px solid rgba(0, 0, 0, 0.384);
    padding-left: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.folder .f_dot img {
    width: 15px;
    margin-right: 10px;
    margin-top: 3px;
}


.file_action span {
    cursor: pointer;
}

.folder a {
    text-decoration: none;
    color: black;
}

.link {
    text-decoration: none;
    color: black;
}

.contact {
    width: 100%;
    height: 30px;
    /* background: yellow; */
    border-bottom: 1px solid rgba(0, 0, 0, 0.384);
    padding-left: 5px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-items: center;
    cursor: pointer;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.contact_name {
    width: 100%;
    font-size: 15px;
}

.contact_num {
    width: 100%;
    font-size: 12px;
}

.contact_details {
    width: 100%;
    height: 80px;
    background: gray;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.contact_details div {
    width: 100%;
    font-size: 13px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.contact_details img {
    width: 20px;
}

.contact_history {
    width: 100%;
}

.history_num {
    width: 100%;
    height: 20px;
    /* background: yellow; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    border: 1px solid rgba(0, 0, 0, 0.24);
}

.contact_btns {
    width: 100px;
    display: flex;
    justify-content: space-evenly;
    cursor: pointer;
}

.add_conatct_form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.add_conatct_form input,
.add_conatct_form button {
    border: none;
    background: none;
}

.add_conatct_form input:focus {
    outline: none;
}



.add_conatct_form button {
    cursor: pointer;
}

.search_contact_result {
    width: 190px;
    height: 105px;
    /* background: yellow; */
    margin: 1px;
    overflow: auto;
}

/* .search_contact_result::-webkit-scrollbar{
    width: 2px;
} */

.search_contact {
    width: 160px;
    height: 30px;
    /* background: rgb(99, 99, 110); */
    display: grid;
    grid-template-columns: 1fr;
    margin: 1px;
}

.search_contact a {
    text-decoration: none;
    color: black;
    font-size: 12px;
    padding-left: 5px;
}

.search_conatct_form {
    width: 100%;
    height: 100%;
}

.notes {
    width: 100%;
    /* height: 100%; */
    /* background: yellow; */
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.notes a {
    text-decoration: none;
    color: black;
}

.note {
    margin: 4px;
    padding: 1px;
    cursor: pointer;
    border-radius: 10px;
    overflow: hidden;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.note_text {
    padding: 2px;
    background: rgba(0, 0, 0, 0.308);
    max-height: 50px;
    overflow: hidden;
}

.note_title {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 900;
    display: flex;
    align-content: center;
    justify-content: space-between;
}


.note_title img {
    width: 10px;
}

/* Default theme */
.theme1 {
    background-color: #ffffff;
    color: #000000;
}

/* Theme 2 */
.theme2 {
    background-color: #f0f0f0;
    color: #333333;
}

/* Theme 3 */
.theme3 {
    background-color: #2c3e50;
    color: #ffffff;
}

.note-title {
    color: #333333;
    /* Default title color */
}

#create_folder {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid rgba(0, 0, 0, 0.438);
    padding: 5px;
}


.watch_form {
    width: 400px;
    height: 200px;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 20px 1px black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.watch_form input {
    padding: 10px;
    font-size: 20px;
}

.watch_form button {
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
}

.camera_btn {
    display: flex;
    justify-content: space-between;
}

#captureButton {
    border-radius: 100%;
    width: 25px;
    height: 25px;
    background: green;
    border: none;
    cursor: pointer;
}


.incoming_msg{
    max-width: 90px;
    background: rgba(0, 0, 255, 0.363);
    padding: 2px;
    padding-left: 5px;
    position: relative;
    margin: 1px;
}
.outgoing_msg{
    max-width: 90px;
    background: rgba(6, 35, 6, 0.491);
    padding: 2px;
    text-align: right;
    padding-right: 5px;
    position: relative;
    left: 90px;
    margin: 1px;
}
.sms{
    width: 100%;
    max-height: 110px;
    overflow: auto;
}
.sms::-webkit-scrollbar{
    display: none;
}
.chat_form{
    width: 100%;
    position: fixed;
    bottom: 60px;
}

.chat_form input{
    width: 54%;
    margin-left: 2px;
    border: 1px solid rgba(0, 0, 0, 0.326);
}

.chat_form button{
    border: 1px solid rgba(0, 0, 0, 0.326);
    cursor: pointer;
}